*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
/*------------------------ TOP -------------------------*/
#top{
    display: flex;
    height: 100vh;
    justify-content: flex-start;
    align-items: center;
    background-color: #dc7062;
    font-family: 'Segoe UI', 'Helvetica Neue',Helvetica,Arial,sans-serif;
    flex-direction: column;
    padding: 4%;
    text-align: center;
}
#top h1{
    font-size: 3em;
    font-weight: lighter;
    margin-bottom: 30px;
}
#top span a{
    font-size: 3em;
    text-decoration: none;
    color: black;
}
/*--------------------------- MAIN ------------------------------*/
#main{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #84f3e6;
    font-family: 'Segoe UI', 'Helvetica Neue',Helvetica,Arial,sans-serif;
    flex-direction: column;
    padding: 4%;
    text-align: center;
}
#main h1{
    font-size: 3em;
    font-weight: lighter;
    margin: 30px;
}
#main span a{
    font-size: 3em;
    text-decoration: none;
    color: black;
}
/*----------------------------- BOTTOM ----------------------------------*/
#bottom{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #61c66d;
    font-family: 'Segoe UI', 'Helvetica Neue',Helvetica,Arial,sans-serif;
    flex-direction: column;
    padding: 4%;
    text-align: center;
}
#bottom h1{
    font-size: 3em;
    font-weight: lighter;
    margin: 30px;
}
#bottom span a{
    font-size: 3em;
    text-decoration: none;
    color: black;
}