body{
    margin: 2%;
}
/*------------------------------ HEADER ----------------------------------*/
header{
    background-color: #5284df;
    height: 60vh;
}
/*------------------------------- WRAPPER -----------------------------------*/
.wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 0;
}
section{
    height: 50vh;
    width: 32%;
    background-color: #1d3b93;
    display: flex;
    justify-content: center;
    align-items: center;
}
section p{
    color: white;
    font-family: "Segoe UI Light", "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1.5em;
    opacity: 0.75;
}
/*------------------------ FOOTER ----------------------------*/
footer{
    height: 90vh;
    background-color: #5284df;
}
footer, header{
    font-family: "Segoe UI Light", "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
}{}