body{
    font-size: 30px;
    margin: 250px 20px;
}
header{
    width: 100%;
    height: 200px;
    background-color: indianred;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}
footer{
    width: 100%;
    height: 200px;
    background-color: cadetblue;
    position: fixed;
    bottom: 0;
    left: 0;
}