*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrap{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
.river{
    height: 20vh;
    width: 60vw;
}
.ship{
    height: 100px;
    width: 100px;
    animation: ship 5s linear infinite alternate;
}
@keyframes ship {
    from {
        transform: translate(0,0);
    }
    14%{
        transform: translate(60px,30px);
    }
    28%{
        transform: translate(170px,-10px);
    }
    42%{
        transform: translate(270px,30px);
    }
    56%{
        transform: translate(370px,-10px);
    }
    70%{
        transform: translate(490px,30px);
    }
    84%{
        transform: translate(570px,-10px);
    }
    98%{
        transform: translate(700px,30px);
    }
    to{
        transform: translate(700px,30px);
    }
}
